.c{
    height: 100vh;
    position: relative;
    color: white;
    background-color: black;
}

.c-bg{
    width: 20px;
    height: 100%;
    background-color: rgb(58, 207, 58);
    position: absolute;
}

.c-wrapper{
    padding: 50px;
    display: flex;
}

.c-left{
    flex: 1;
}

.c-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.c-title{
    font-size: 60px;
    width: 80%;
}

.c-info-item{
    display: flex;
    align-items: center;
    margin: 50px 0px;
    font-weight: 300;
    width: 70%;
}

.c-desc{
    font-weight: 200;
}

form{
    margin-top: 20px;
}

input{
    width: 50%;
    height: 50px;
    border: none;
    border-bottom: 2px solid rgb(58, 207, 58);
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
    background-color: transparent;
    color: white;
}

textarea{
    width: 100%;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
    background-color: transparent;
    color: white;
    border: 2px solid rgb(58, 207, 58);
}

button{
    border: none;
    padding: 15px;
    background-color: rgb(58, 207, 58);
    color: white;
    font-weight: 500;
    cursor: pointer;
}